@import 'typo';
@import 'form';

body {
  font-family: 'Open-Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol,
    'Noto Color Emoji' !important;
  @apply font-normal text-base;
}

#app {
  @apply max-w-full m-auto font-normal;
}

.svg-line {
  fill: none !important;
  stroke: currentColor !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgb(144, 147, 153, 0.3);
}
